In [1]:
import numpy as np
import pandas as pd

In [ ]:
import re
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [117]:
df=pd.read_csv('fake_job_postings.csv')

In [118]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [119]:
df['country']=df.location.str.split(',',expand=True)[:][0]
df['state']=df.location.str.split(',',expand=True)[:][1]
df['city']=df.location.str.split(',',expand=True)[:][2]

In [120]:
df['country'].sort_values().unique()

array(['AE', 'AL', 'AM', 'AR', 'AT', 'AU', 'BD', 'BE', 'BG', 'BH', 'BR',
       'BY', 'CA', 'CH', 'CL', 'CM', 'CN', 'CO', 'CY', 'CZ', 'DE', 'DK',
       'EE', 'EG', 'ES', 'FI', 'FR', 'GB', 'GH', 'GR', 'HK', 'HR', 'HU',
       'ID', 'IE', 'IL', 'IN', 'IQ', 'IS', 'IT', 'JM', 'JP', 'KE', 'KH',
       'KR', 'KW', 'KZ', 'LK', 'LT', 'LU', 'LV', 'MA', 'MT', 'MU', 'MX',
       'MY', 'NG', 'NI', 'NL', 'NO', 'NZ', 'PA', 'PE', 'PH', 'PK', 'PL',
       'PT', 'QA', 'RO', 'RS', 'RU', 'SA', 'SD', 'SE', 'SG', 'SI', 'SK',
       'SV', 'TH', 'TN', 'TR', 'TT', 'TW', 'UA', 'UG', 'US', 'VI', 'VN',
       'ZA', 'ZM', nan], dtype=object)

In [121]:
missing=df[df.country.isna()==True]

 #19 866
len(missing[missing.fraudulent==1]), len(df[df.fraudulent==1])

(19, 866)

In [122]:
len(df['state'].sort_values().unique()),len(df['state'])

#----------processing
df.state = df.state.str.strip()
df.state.fillna(value='unknown', inplace=True)
df.state.replace(np.nan, 'unknown', inplace=True)
df.state.replace('', 'unknown', inplace=True)
df.state.replace(' ', 'unknown', inplace=True)
#---------end


df['state'].sort_values().unique()

array(['00', '01', '02', '03', '05', '06', '061', '07', '1', '10', '11',
       '110', '12', '13', '14', '16', '21', '22', '23', '25', '26', '28',
       '31', '34', '37', '40', '41', '44', '5', '51', '52', '56', '6',
       '61', '64', '65', '71', '8', '82', '84', '9', 'A', 'AA', 'AB',
       'ABD', 'ABE', 'ACT', 'AGB', 'AK', 'AL', 'ALA', 'ALX', 'AN', 'ANS',
       'ANT', 'AP', 'AR', 'ARM', 'AZ', 'B', 'BA', 'BAS', 'BC', 'BDF',
       'BE', 'BEN', 'BIR', 'BKM', 'BL', 'BMH', 'BNH', 'BPL', 'BR', 'BRC',
       'BRD', 'BRU', 'BRY', 'BS', 'BST', 'BU', 'BW', 'BY', 'C', 'CA',
       'CAM', 'CBF', 'CH', 'CHE', 'CHH', 'CHW', 'CJ', 'CMA', 'CMD', 'CN',
       'CO', 'COA', 'CON', 'CRF', 'CRY', 'CT', 'CTT', 'D', 'DA', 'DBY',
       'DC', 'DE', 'DER', 'DIF', 'DL', 'DNC', 'DND', 'DOR', 'DR', 'DS',
       'DU', 'DUD', 'DUR', 'E', 'EAW', 'EC', 'EDH', 'ENF', 'ENG', 'ER',
       'ERY', 'ES', 'ESS', 'ESX', 'F', 'FIF', 'FL', 'G', 'GA', 'GBN',
       'GE', 'GJ', 'GLG', 'GLS', 'GT', 'H', 'HAM', 'HCK', 'HE', 'HEF',
       'HH', 'HI', 'HM', 'HMF', 'HNS', 'HP', 'HR', 'HRT', 'HRY',
       'Hong Kong', 'I', 'IA', 'ID', 'IL', 'IN', 'IOW', 'IS', 'ISL', 'J',
       'JM', 'JW', 'K', 'KA', 'KEN', 'KIR', 'KL', 'KS', 'KTT', 'KU', 'KY',
       'L', 'LA', 'LAN', 'LCE', 'LDS', 'LEC', 'LIN', 'LIV', 'LND', 'LS',
       'LUT', 'M', 'MA', 'MAN', 'MB', 'MD', 'MDB', 'ME', 'MEX', 'MH',
       'MI', 'MIK', 'MLN', 'MN', 'MO', 'MOW', 'MP', 'MS', 'MT', 'MZ', 'N',
       'NB', 'NBL', 'NC', 'ND', 'NE', 'NEL', 'NET', 'NGM', 'NH', 'NIR',
       'NJ', 'NL', 'NLE', 'NM', 'NS', 'NSM', 'NSW', 'NT', 'NTH', 'NTT',
       'NV', 'NW', 'NY', 'NYK', 'O', 'OH', 'OK', 'OL', 'OLD', 'ON', 'OR',
       'OV', 'OXF', 'PA', 'PB', 'PKN', 'PL', 'PLY', 'PM', 'PR', 'PTE',
       'PW', 'QB', 'QC', 'QLD', 'QUE', 'RDG', 'RI', 'RIC', 'RIX', 'RJ',
       'RM', 'RP', 'RS', 'S', 'SA', 'SC', 'SCT', 'SD', 'SFK', 'SHF', 'SK',
       'SN', 'SND', 'SOL', 'SOM', 'SOS', 'SP', 'SPE', 'SRY', 'STE', 'STH',
       'STS', 'STT', 'SWD', 'T', 'TA', 'TAS', 'TFW', 'TM', 'TN', 'TPQ',
       'TRF', 'TX', 'U', 'UKM', 'UP', 'UT', 'VA', 'VAN', 'VBR', 'VC',
       'VIC', 'VL', 'VLI', 'VO', 'VOV', 'VS', 'VT', 'WA', 'WAR', 'WB',
       'WBK', 'WC', 'WGN', 'WI', 'WKF', 'WLS', 'WLV', 'WOR', 'WP', 'WRL',
       'WSM', 'WSX', 'WV', 'WY', 'YOR', 'ZET', 'ZH', 'unknown'],
      dtype=object)

In [123]:
print(df['city'].sort_values().unique().tolist())

[' ', '  ', '    Minneapolis', '   HG2 7NR', '  AB10', '  ALEXANDER CITY', '  Aberdeen ', '  Al Nashwa', '  COLUMBUS', '  Dayton', '  Edinburgh', '  Garner', '  Indianapolis', '  Kinnelon', '  Kreuzberg', '  Mclean VA.', '  Ottawa', '  Philadelphia ', '  Port Chester', '  Salt Lake City', '  San Diego', '  San Francisco', '  Vancouver', '  merseyside ', ' 02139', ' 04102', ' 10010', ' 10969', ' 15233', ' 2010', ' 20855', ' 28202', ' 32008', ' 32065', ' 33308', ' 33592', ' 33607', ' 380013', ' 43215', ' 46259  ACTON', ' 46802', ' 48226', ' 56073', ' 77619', ' 85032', ' 91401', ' 92101', ' 94306', ' 96080', ' :  Madison', ' : Columbus', ' A', ' ACADEMY LIFE', ' ACME MI  ', ' ACRA', ' AL Hasa', ' ALBANY', ' AMERSFOORT', ' ANNAPOLIS', ' ARDENVOIR WA  ', ' ARGYROUPOLIS', ' ARLINGTON', ' ATHENS', ' ATKINSON', ' ATLANTA', ' AUS/SAT', ' AUSTIN', ' Aarhus C', ' Aaronsburg ', ' Abbeville ', ' Abbeville  ', ' Abbot ', ' Abbotsford ', ' Abbott ', ' Abbottstown ', ' Abbyville ', ' Abell ', ' Abercrombie ', ' Aberdeen', ' Aberdeen ', ' Aberdeenshire', ' Abernant ', ' Abernathy ', ' Abie ', ' Abilene ', ' Absaraka ', ' Absarokee ', ' Absecon ', ' Abudhabi', ' Acampo ', ' Accident ', ' Accokeek ', ' Accomac ', ' Accord ', ' Accra', ' Acharnai', ' Acharnes', ' Ackerman', ' Acworth', ' Addison', ' Adelaide', ' Agia Paraskevi', ' Agios Nikolaos', ' Agios Stefanos', ' Ahens', ' Ahmedabad', ' Aix en Provence', ' Akron', ' Al Hasa', ' Al Hufuf', ' Alabang', ' Alabang area', ' Alamo', ' Alamosa', ' Albany', ' Albuquerque', ' Albury', ' Alexandria', ' Alexandria ', ' Alfred', ' Alimos', ' Alk', ' All', ' All Locations', ' All Major Cities', ' All of California', ' Allen', ' Allendale Charter Township', ' Allendale charter Township', ' Allentown', ' Alpharetta', ' Alsip', ' Altens', ' Amersfoort', ' Ames', ' Amherst', ' Amsetrdam', ' Amsterdam', ' Anaheim', ' Anchorage', ' Anchorage\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', ' Anderson', ' Andover', ' Angel', ' Ann Arbor', ' Ann Arbor ', ' Annapolis', ' Antibes', ' Antigonish', ' Antwerpen', ' Apopka', ' Apple Valley', ' Appleton', ' Arcadia', ' Arcadia ', ' Arcata', ' Arco', ' Ardmore', ' Arlington', ' Arlington ', ' Armonk', ' Artarmon', ' Arvada', ' Ashburn', ' Asheboro', ' Asheville', ' Ashland', ' Assen', ' Astoria', ' Athena', ' Athens', ' Athens ', ' Athens (Iraklio)', ' Atherton', ' Atlanta', ' Atlanta ', ' Atlanta - Covington', ' Atlanta North', ' Atlanta-Airport Area ', ' Atlanta\xa0-\xa0Covington\xa0', ' Auburn', ' Auburn Hills', ' Auc', ' Auckl', ' Auckland', ' Auckland ', ' Auckland & Wellington', ' Auckland CBD', ' Auckland Central', ' Auckland City', ' Auckland/Penrose', ' Auderghem', ' Augusta', ' Aurora', ' Aurora ', ' Austin', ' Austin (or remote)', ' Austin/San Antonio', ' Australia', ' Australia ', ' Avenel', ' Avon', ' Avonmouth', ' Ayrshire', ' BALTIMORE', ' BARNSLEY', ' BERKELY ', ' BLUFFTON', ' BOSTON', ' BRENTWOOD', ' BUCKEYE', ' Bad Axe', ' Bailtmore', ' Bakersfield', ' Bala Cynwyd', ' Ballerup ', ' Baltimore', ' Baltimore              ', ' Baltimore / Columbia', ' Banbuathong', ' Bandung', ' Bangalore', ' Bangalore ', ' Bangkok', ' Bangor', ' Barcelona', ' Barnsley', ' Barrington', ' Bartow', ' Basel', ' Basingstoke', ' Basking Ridge', ' Batavia', ' Bath', ' Batley', ' Baton Rouge', ' Battersea', ' Battle Creek', ' Battle Mountain', ' Bay Area', ' Bay Area (Northern California)', ' Bay Shore', ' Bayan Lepas', ' Beaufort', ' Beaver', ' Beaver Falls', ' Beckley', ' Bedford', ' Bedfordshire', ' Beijing', ' Belews Creek', ' Belfast', ' Belfast/Telecommute', ' Bellevue', ' Bellingham', ' Beltsville', ' Bemidji', ' Bend', ' Bengaluru', ' Benoni', ' Bensalem', ' Bensenville', ' Benton Harbor', ' Benton Harbor/St Joseph', ' Beograd', ' Berea', ' Berkeley', ' Berkeley Heights', ' Berkhamstead', ' Berlin', ' Berlin ', ' Berlin/Malaysia', ' Bermondsey', ' Berrien County', ' Berrien Springs', ' Berwyn', ' Bethany', ' Bethel', ' Bethesda', ' Beverly Hills', ' Beverly Hills ', ' Bhubaneswar', ' Billerica', ' Billericay', ' Binghampton', ' Birmingham', ' Birmingham ', ' Birmingham / Solihull', ' Birmingham or London', ' Birstall', ' Bishopsgate', ' Bismarck', ' Bismarck or Fargo', ' Blackpool', ' Blacksburg', ' Bletchley', ' Bloomfield', ' Bloomfield Hills', ' Bloomington', ' Bloomsburg', ' Bluffton', ' Boca Raton', ' Bodelwyddan', ' Bogota', ' Boisbriand', ' Boise', ' Bonita Springs', ' Bonn', ' Boone', ' Bostan', ' Boston', ' Boston ', ' Boulder', ' Bourne', ' Bournemouth', ' Bowie', ' Bowling Green', ' Boxborough', ' Bozeman', ' Br', ' Bracknell', ' Bradford', ' Braintree', ' Brampton', ' Braselton', ' Bratislava', ' Brea', ' Bremerton', ' Brentwood', ' Bridgeport', ' Bridgewater', ' Bridgman', ' Brighouse', ' Brighton', ' Brighton ', ' Brisbane', ' Bristol', ' Broken Bow', ' Bronx', ' Brookfield', ' Brookfield ', ' Brookhaven', ' Brookings', ' Brooklyn', ' Brooklyn ', ' Brookyn', ' Broomfield', ' Brownsville ', ' Brunswick', ' Brussels', ' Bruxelles', ' Bryan', ' Buchanan', ' Bucharest', ' Bucharrest', ' Buckeye', ' Buckhannon', ' Bucuresti', ' Budapest', ' Buffalo', ' Buffalo Grove', ' Burbank', ' Burleson', ' Burlingame', ' Burlington', ' Burnaby', ' Burnley', ' Burnsville', ' Bury St Edmunds', ' Busan', ' Bushey', ' CHENNAI', ' CHICAGO', ' CHICAGO ', ' COLUMBIA', ' COLUMBUS', ' CORAL SPRINGS', ' CR0 4XY', ' Cabanatuan City', ' Cairo', ' Calgary', ' California', ' Camas', ' Camberley', ' Cambridge', ' Camden', ' Campbell', ' Canary Wharf', ' Canberra', ' Cannonsburg', ' Canonsburg', ' Cantebury', ' Canterbury', ' Canton', ' Cape Coral', ' Cape Girardo', ' Cape Town', ' Capitol Heights', ' Carbondale', ' Cardiff', ' Carlisle', ' Carlsb', ' Carlsbad', ' Carlsbad ', ' Carlton', ' Carmel', ' Carol Stream', ' Carrizo Springs', ' Carrollton', ' Carson City', ' Carton City', ' Cary', ' Casper', ' Cassopolis', ' Cassopolis Dowagiac', ' Cateret', ' Cav', ' Cavite', ' Cavite or Alabang area', ' Cayuga', ' Ce\\', ' Cebu', ' Cebu City', ' Cedar City', ' Cedar Falls', ' Cedar Rapids', ' Cedarburg', ' Celina', ' Centennial', ' Center City Philadelphia', ' Central', ' Central Birmingham', ' Central Coast', ' Central Fl', ' Central Lodon', ' Central London', ' Central NJ Preferred', ' Central/Southern Minnesota', ' Cerritos', ' Chalandri', ' Chalkida', ' Chamberi | Madrid', ' Champaign', ' Champaigne', ' Chandigarh', ' Chandler ', ' Chandler/Mesa/Gilbert', ' Chanhassen', ' Chania', ' Chapel Hill', ' Charleston', ' Charlotee', ' Charlotte', ' Charlotte ', ' Charlottesville', ' Chatham', ' Chatsworth', ' Chattanooga', ' Chattanooga ', ' Chautauqua', ' Cheadle', ' Cheddar', ' Chelmorton', ' Chelmsford', ' Chelsea', ' Cheltenham', ' Cheney', ' Chengdu', ' Chennai', ' Cherkassy', ' Cherkasy', ' Cherry Hill', ' Chesapeake', ' Chester', ' Chester/North Wales', ' Chestnut Hill', ' Cheyenne', ' Chicago', ' Chicago ', ' Chicago Northwest', ' Chichester', ' Chickasha', ' Chico', ' Chippenham', ' Christchurch', ' Chula Vista', ' Chula Vista ', ' Churu', ' Cicero', ' Cimahi', ' Cinci', ' Cincin', ' Cincinnati', ' City', ' City of Industry', ' Claremont', ' Clarion', ' Clarksville', ' Clayton', ' Clear Lake', ' Clearwater', ' Cleburne', ' Clemmons', ' Clemson', ' Clevedon', ' Cleveland', ' Clinton', ' Cluj-Napoca', ' Co. Durham ', ' Coal Valley', ' Cochin', ' Cocoa', ' Coimbatore', ' Coimbra', ' Col', ' Colchester', ' Colchester ', ' Cold Springs', ' College', ' College Park', ' College Point', ' College Station', ' Collegedale', ' Colombo', ' Colorado Springs', ' Columbia', ' Columbus', ' Commack', ' Como', ' Concord', ' Concord ', ' Conover', ' Consett', ' Conway', ' Coon Rapids', ' Cooperstown', ' Copenhagen', ' Copenhagen ', ' Copenhagen Ø', ' Copenhagn', ' Coral Springs', ' Coralville', ' Corfe Castle', ' Corinth', ' Cork', ' Cornwall', ' Corona', ' Corpus Christi', ' Corpus Christi Coastal Bend', ' Corsicana', ' Cortez', ' Cortland', ' Corvallis', ' Costa Mesa', ' Cottage Grove', ' Coumbus', ' Council Bluffs', ' Council Bluffs ', ' Coventry', ' Covert', ' Covington', ' Cranberry', ' Cranberry ', ' Crawley', ' Crete', ' Crewe', ' Crigglestone', ' Crofton', ' Croydon', ' Crystal City', ' Cullowhee', ' Cupertino', ' Cyberport', ' D.F.', ' DALLAS', ' DC', ' DC Metro ', ' DEARBORN', ' DENVER ', ' DES MOINES', ' DETROIT', ' DFW', ' DFW- Burleson', ' DRAPER', ' DURBAN', ' Dallas', ' Dallas ', ' Dallas / Ft. Worth', ' Dallas-Fort Worth', ' Dallas/ Fort Worth', ' Dallas/Fort Worth', ' Dana Point', ' Danbury', ' Danver ', ' Danvers', ' Danville', ' Danville area', ' Darlinghurst', ' Davao City', ' Davenport', ' Davidson', ' Davidson/Lake Norman Area', ' Dayton', ' Daytona', ' Decatur', ' Deerfield', ' Deerfield Beach', ' Delavan', ' Delaware', ' Delhi', ' Delray Beach', ' Delta Mall Store', ' Deltona', ' Denton', ' Denver', ' Denver ', ' Denver (metro)', ' Des Moines', ' Desert Resort', ' Detriot', ' Detroi', ' Detroit', ' Deweyville', ' Dewsbury', ' Dhaka', ' Dharamshala', ' Dhule', ' Diamond Bar', ' Dickinson', ' District of Columbia', ' Doha', ' Domlur', ' Doncaster', ' Doral', ' Dortmund', ' Dothan', ' Dover', ' Dowagiac', ' Dowagiac ', ' Downers Grove', ' Downey', ' Downtown', ' Draper', ' Dubai', ' Dubai Internet City', ' Dubayy', ' Dubin', ' Dublin', ' Dublin 2', ' Dubuque', ' Dulles', ' Duluth', ' Duluth ', ' Dundee', ' Durango', ' Durban', ' Durham', ' Durham ', ' Düsseldorf', ' EC4M 7AN', ' EDMONTON', ' Eagan', ' Earby', ' Easley', ' East Cowes', ' East Hanover', ' East Lansing', ' East London', ' East Nashville', ' East Peoria', ' East Stroudsburg', ' East Windsor', ' Eastern US', ' Eau Claire', ' Ebene', ' Edina', ' Edinboro ', ' Edinburg', ' Edinburgh', ' Edinburgh ', ' Edinburgh Central', ' Edinburgh South and South East', ' Edison', ' Edmond', ' Edmondton', ' Edmonton', ' Edmonton ', ' Egaleo', ' Egnar', ' Eindhoven', ' El Paso', ' El Reno', ' El Segundo', ' El Segundo ', ' Elland', ' Ellensburg', ' Ellenville', ' Elmhurst', ' Elmira', ' Elmsford', ' Elmwood Park', ' Elmwood Park ', ' Elon', ' Elroy', ' Emeryville', ' Emporia', ' Encino', ' Englewood', ' Erbil', ' Erlanger ', ' Esbon', ' Escondido', ' Essex', ' Estero', ' Estonia', ' Etobicoke', ' Ettrick', ' Eugene', ' Eunice', ' Evanston', ' Evansville', ' Everett', ' Exton', ' FLINT', ' FORT WORTH', ' Fair Haven', ' Fairfax', ' Fairfax Area', ' Fairfield', ' Fairlawn', ' Fairmont', ' Falkirk', ' Falling Waters', ' Fargo', ' Fargo ', ' Fargo or Bismarck', ' Faribault', ' Farmingdale', ' Farmington', ' Farmington Hills', ' Farringdon', ' Fayetteville', ' Federal Way', ' Feltham', ' Fife', ' Finchley', ' Finger Lakes', ' Fishers', ' Flagstaff', ' Flint', ' Florence', ' Florida', ' Flushing', ' Folsom', ' Fontana', ' Fort ', ' Fort Collins', ' Fort Collins/Denver', ' Fort Lauderdale', ' Fort Mill', ' Fort Mill ', ' Fort Myers', ' Fort Saskatchewan', ' Fort Washington', ' Fort Wayne', ' Fort Wayne ', ' Fort Worth', ' Foster City', ' Four Ways', ' France ', ' Frankfurt', ' Franklin', ' Franklin Lakes', ' Franksville', ' Frederick', ' Fredericksburg', ' Fredericton', ' Fredonia', ' Freehold', ' Fremont', ' Fresno', ' Frisco', ' Frostburg', ' Ft Lauderdale', ' Ft. Benning', ' Ft. Lauderdale', ' Ft. Worth', ' Fthiotida - Lamia', ' Fulham', ' Fullerton', ' G', ' GAITHERSBURG', ' GREENVILLE', ' GTA', ' GURGAON', ' Gaffney', ' Gainesville', ' Gaithersburg', ' Galesburg', ' Garden City', ' Garden Grove', ' Gardena', ' Garland', ' Garner', ' Gateshead', ' Gatwick', ' Gdańsk', ' Gent', ' Georgetown', ' Georgia', ' Gerakas', ' Germantown', ' Germany', ' Ghent', ' Gilbert', ' Gilroy Hollister ', ' Gladstone', ' Glasgow', ' Glasgow / Birmingham / London / Remote', ' Glasgow or Edinburgh', ' Glendale', ' Glendale Heights', ' Glendale heights', ' Gloucester', ' Glyfada', ' Gold coast', ' Golden Valley', ' Grand Blanc', ' Grand Forks', ' Grand Island', ' Grand Junction', ' Grand Prairie', ' Grand Rapids', ' Grandview', ' Grange Moore', ' Granger', ' Grants', ' Grapevine', ' Grapvevine', ' Great Falls', ' Greater Boston', ' Greater Boston Area', ' Greater Los Angeles Area', ' Greater Milwaukee', ' Greater New York City Area', ' Greater Toronto Area', ' Green Bay', ' Green River', ' Greenbelt', ' Greencastle', ' Greensboro', ' Greensboro\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', ' Greenville', ' Greenwich', ' Greenwood', ' Grey-Bruce/Huron Perth', ' Grinnell', ' Groveland', ' Groveport', ' Guangzhou', ' Guildford', ' Gulf Coast Region', ' Gurgaon', ' Gurgoan', ' Gurnee', ' HALANDRI', ' HARROGATE', ' HARTFORD', ' HILLIARD FL  ', ' HONOLULU', ' HOUSTON', ' Hackensack', ' Haddonfield', ' Hagerstown', ' Halandri', ' Halifax', ' Hamburg', ' Hamilton', ' Hammersmith', ' Hammond', ' Hammonton', ' Hampton', ' Hampton in Arden', ' Hanford', ' Hanley', ' Hanover', ' Harahan', ' Harlan', ' Harlan or Ames', ' Harlingen', ' Harlow', ' Harrisburg', ' Harrisonburg', ' Harrogate', ' Harrogate ', ' Hartford', ' Hartland', ' Hartlepool', ' Harwich', ' Hasbrouck Heights', ' Hasbrouck Heights ', ' Hastings', ' Hatfield', ' Hathersage', ' Hattiesburg', ' Haverford', ' Haverhill', ' Haverhill ', ' Hawthorne', ' Hayward', ' Headland', ' Heathrow', ' Heckmondwike', ' Heidelberg', ' Helena', ' Helsinki', ' Hemel Hempstead', ' Henderson', ' Heraklio', ' Heraklion', ' Herculaneum', ' Hermiston Gait', ' Herndon', ' Hertfordshire', ' Hertzelia', ' Herzliya', ' Hessle', ' Hidalgo', ' High Wycombe', ' Highland', ' Highland Heights', ' Highland Park ', ' Hilliard', ' Hillsboro', ' Hillside', ' Hilversum', ' Hinckley', ' Ho Chi Minh', ' Hobart', ' Hoboken', ' Holargos', ' Holborn', ' Holly Springs', ' Hollywood', ' Hondo', ' Hong Kong', ' Honolulu', ' Hopkins', ' Horsforth', ' Horsham', ' Hot Springs ', ' Houghton le Spring ', ' Houston', ' Houston ', ' Hoxton', ' Huber Heights', ' Huddersfield', ' Huddersfield/Wakefield', ' Hudson Valley', ' Hull', ' Hunt Valley', ' Huntingdon', ' Huntington', ' Huntington Beach', ' Huntington Beach ', ' Huntington beach', ' Hurricane', ' Hyderabad', ' Hyderabad/Pune/remote', ' INDIANAPOLIS', ' INDORE', ' Iasi', ' Idaho Falls', ' Ilford', ' Ilion', ' Illinois', ' Immingham', ' Incheon', ' Independence', ' Independence ', ' Indiana', ' Indianapolis', ' Indore', ' Ingatestone', ' Inglewood', ' Insch', ' Ioannina', ' Iowa City', ' Iowa city', ' Ipswich', ' Irakleio', ' Iraklio', ' Irvine', ' Irving', ' Isla Vista', ' Islamabad', ' Istanbul', ' Italy', ' Ithaca', ' JACKSONVILLE', ' JOHANNESBURG', ' Jackson', ' Jacksonville', ' Jacksonville ', ' Jaipur', ' Jakarta', ' Jamestown', ' Jamison', ' Jane Lew', ' Janesville', ' Jeddah', ' Jefferson City', ' Jenkintown', ' Jericho', ' Jersey', ' Jersey City', ' Jersey City ', ' Jerusalem', ' Johannesburg', ' Johns Creek', ' Joliet', ' Jonesboro', ' Juman', ' Juneau', ' Juno Beach', ' Juárez', ' KIFISSIA', ' KL - Petaling Jaya', ' KUALA LUMPUR', ' Kalamazoo', ' Kalivia Thorikou', ' Kamloops', ' Kanata', ' Kankakee', ' Kansas City', ' Karachi', ' Kaunas', ' Keene', ' Keller and Burleson', ' Kelowna', ' Kenner', ' Kennewick', ' Kennington', ' Kenosha', ' Kent', ' Kern County', ' Kessariani', ' Kettering', ' Kharkov', ' Kiev', ' Kifisia', ' Kifissia', ' Killdeer', ' Killeen', ' King', ' Kingston', ' Kingston upon Thames', ' Kingswinford', ' Kirkland', ' Kirksville', ' Kitchener', ' Klamath Falls', ' Knoxville', ' Knutsford', ' Kochi', ' Kokomo', ' Kolkata', ' Komotini', ' Krakow', ' Kraków', ' Kuala Lumpur - Sentral', ' Kuala lumpur', ' Kutztown', ' København Ø', ' LA', ' LA/Orange County', ' LAS VEGAS', ' LE10 3EN', ' LEVADIA', ' LINTHICUM HEIGHTS', ' LONDON', ' LOS   ANGELES', ' LOS ANGELES', ' LS12 4QQ', ' La Jolla', ' La Mirada', ' LaCrosse', ' LaSalle', ' Lafayette', ' Lagos', ' Lahore', ' Lake Charles', ' Lake City', ' Lake Elsinor', ' Lake Forest', ' Lake Mary', ' Lake Oswego', ' Lakeland', ' Lakeport', ' Lakeville', ' Lakewood', ' Lancaster', ' Langley', ' Langley Moor', ' Langston', ' Lanham', ' Lansdale', ' Lansing', ' Laramie', ' Laredo', ' Larisa', ' Las Cruces', ' Las Vegas', ' Las vegas', ' Lassi', ' Latham', ' Launceston', ' Laurel', ' Laval', ' Lawrence', ' Lawrenceville', ' Lawton', ' Lawton Decatur', ' Lebanon', ' Lebbeke-Wieze', " Lee's Summit ", ' Leeds', ' Leesburg', ' Leicester', ' Leighton Buzzard', ' Leipzig', ' Leiston', ' Lekki', ' Lenexa', ' Leonardtown', ' Leuven', ' Levittown', ' Lewisburg', ' Lewisham', ' Lewiston', ' Lexington', ' Lexington\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', ' Leyton', ' Liberty', ' Libertyville', ' Lille', ' Lima', ' Limassol', ' Lincoln', ' Lincoln\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', ' Lisbon', ' Little Rock', ' Liverpool', ' Liversedge', ' Livingston', ' Livonia', ' Livonia ', ' Lleida', ' Loas Angeles', ' Lock Haven', ' Logan', ' Lombard', ' Lommel', ' Lon', ' London', ' London ', ' London Bridge', ' London/Sarnia/Chatham', ' London/Sarnia/Chatham/Windsor/Kitchener', ' London/Warrington', ' Long Beach', ' Long Beach ', ' Long Isalnd City', ' Long Island', ' Long Island City', ' Longmont', ' Longview', ' Los Angeles', ' Los Angeles ', ' Los Angeles County', ' Los Angeles/Orange County/San Diego County', ' Los Gatos', ' Louisville', ' Loveland', ' Lower Mainland', ' Lubbock', ' Ludwigshafen', ' Lumlukka', ' Lund', ' Luton', ' Luxembourg', ' Lynwood', ' MANASSAS', ' MANHATTAN', ' MENLO PARK', ' MESA', ' MIAMI', ' MINNEAPOLIS ', ' MONTCLAIR', ' Ma', ' Maad', ' Maadi', ' Macclesfield', ' Macomb', ' Macon', ' Madison', ' Madrid', ' Magoula', ' Maidenhead', ' Maitland', ' Makati', ' Makati City', ' Makati City ', ' Makawao', ' Malaga', ' Malden', ' Malton', ' Malvern', ' Managua', ' Manassas', ' Manchester', ' Manchester City Center', ' Mandaluyong City', ' Mandaue City', ' Manhasset', ' Manhasset Hills ', ' Manhattan', ' Manhattan ', ' Manhattan Beach', ' Manhattan and Brooklyn', ' Manila', ' Mankato', ' Mansfield', ' Maple Grove', ' Maple Plain', ' Marcellus Lawton', ' Marcellus Paw Paw Lawton ', ' Marco Island', ' Marin', ' Marina Del Rey', ' Marina del Rey', ' Marinette', ' Marion', ' Markham', ' Markhan', ' Marlborough', ' Marlow', ' Marousi', ' Marousi - Athens', ' Maroussi', ' Marshall', ' Martigny', ' Martin', ' Maryland / D.C. Area', ' Maryland Heights', ' Marysville', ' Mascoutah', ' Mason', ' Mason City', ' Massachusetts', ' Masterton', ' Mayfield', ' Mayfield Village', ' McAllen', ' McKinney', ' McLean', ' Mclean', ' Meanwood', ' Meas/Chandler/Gilbert', ' Mechanicsburg', ' Mechelen', ' Medan', ' Medford', ' Media City | Dubai', ' Meigle', ' Melbourne', ' Melbourne ', ' Melissia', ' Melrose Park', ' Melton Mowbray', ' Memphis', ' Memphis ', ' Menlo', ' Menlo Park', ' Menomonie', ' Mentor', ' Mercer Island', ' Meridian', ' Merriam', ' Merrillville', ' Merseyside ', ' Mesa', ' Mesa/Chandler', ' Mesquite', ' Metamorfosi', ' Mexico', ' Mexico City', ' Miami', ' Middlebury', ' Middlesex', ' Middletown', ' Midland', ' Midlands', ' Midwest', ' Milan', ' Milan Area', ' Milano', ' Milford Township', ' Millburn', ' Millburn / Short Hills', ' Millersville', ' Milpitas', ' Milton Keynes', ' Milwaukee', ' Milwaukee/Waukesha', ' Milwaukie', ' Minden', ' Minneapolis', ' Minnetonka', ' Minsk', ' Miramar', ' Mirfield', ' Mississauga', ' Missoula', ' Missoula ', ' Missouri City', ' Mobile', ' Modesto', ' Moncton', ' Monett', ' Monroe', ' Montclair', ' Montebello', ' Monterey', ' Monterrey', ' Montevallo', ' Montgomery', ' Montpellier', ' Montreal', ' Montreal ', ' Montrose', ' Montréal', ' Monument', ' Moorehead ', ' Mooresville', ' Moorhead', ' Moravia', ' Moreno Valley', ' Morgantown', ' Morristown', ' Moscow', ' Moskva'

In [101]:
len(df['city'].unique()),len(df['city']) #17880

#----
df.city = df.city.str.strip(' /:\\')
df.city.fillna(value='unknown', inplace=True)
df.city.replace(np.nan, 'unknown', inplace=True)
df.city.replace('', 'unknown', inplace=True)
df.city.replace(' ', 'unknown', inplace=True)
df['city']=df.city.str.lower()
#------

print(df['city'].sort_values().unique().tolist())

# 1. keep columns after processing
# 2. using the 3 un-processed columns

['02139', '04102', '10010', '10969', '15233', '2010', '20855', '28202', '32008', '32065', '33308', '33592', '33607', '380013', '43215', '46259  acton', '46802', '48226', '56073', '77619', '85032', '91401', '92101', '94306', '96080', 'a', 'aarhus c', 'aaronsburg', 'ab10', 'abbeville', 'abbot', 'abbotsford', 'abbott', 'abbottstown', 'abbyville', 'abell', 'abercrombie', 'aberdeen', 'aberdeenshire', 'abernant', 'abernathy', 'abie', 'abilene', 'absaraka', 'absarokee', 'absecon', 'abudhabi', 'academy life', 'acampo', 'accident', 'accokeek', 'accomac', 'accord', 'accra', 'acharnai', 'acharnes', 'ackerman', 'acme mi', 'acra', 'acworth', 'addison', 'adelaide', 'agia paraskevi', 'agios nikolaos', 'agios stefanos', 'ahens', 'ahmedabad', 'aix en provence', 'akron', 'al hasa', 'al hufuf', 'al nashwa', 'alabang', 'alabang area', 'alamo', 'alamosa', 'albany', 'albuquerque', 'albury', 'alexander city', 'alexandria', 'alfred', 'alimos', 'alk', 'all', 'all locations', 'all major cities', 'all of california', 'allen', 'allendale charter township', 'allentown', 'alpharetta', 'alsip', 'altens', 'amersfoort', 'ames', 'amherst', 'amsetrdam', 'amsterdam', 'anaheim', 'anantapur', 'anchorage', 'anderson', 'andover', 'angel', 'ann arbor', 'annapolis', 'antibes', 'antigonish', 'antwerpen', 'apopka', 'apple valley', 'appleton', 'arcadia', 'arcata', 'arco', 'ardenvoir wa', 'ardmore', 'argyroupolis', 'arlington', 'armonk', 'artarmon', 'arvada', 'ashburn', 'asheboro', 'asheville', 'ashland', 'assen', 'astoria', 'athena', 'athens', 'athens (iraklio)', 'atherton', 'atkinson', 'atlanta', 'atlanta - covington', 'atlanta north', 'atlanta-airport area', 'atlanta\xa0-\xa0covington', 'auburn', 'auburn hills', 'auc', 'auckl', 'auckland', 'auckland & wellington', 'auckland cbd', 'auckland central', 'auckland city', 'auckland/penrose', 'auderghem', 'augusta', 'aurora', 'aus/sat', 'austin', 'austin (or remote)', 'austin/san antonio', 'australia', 'avenel', 'avon', 'avonmouth', 'ayrshire', 'bad axe', 'bailtmore', 'bakersfield', 'bala cynwyd', 'ballerup', 'baltimore', 'baltimore / columbia', 'banbuathong', 'bandung', 'bangalore', 'bangkok', 'bangor', 'barcelona', 'barnsley', 'barrington', 'bartow', 'basel', 'basingstoke', 'basking ridge', 'batavia', 'bath', 'batley', 'baton rouge', 'battersea', 'battle creek', 'battle mountain', 'bay area', 'bay area (northern california)', 'bay shore', 'bayan lepas', 'beaufort', 'beaver', 'beaver falls', 'beckley', 'bedford', 'bedfordshire', 'beijing', 'belews creek', 'belfast', 'belfast/telecommute', 'bellevue', 'bellingham', 'beltsville', 'bemidji', 'bend', 'bengaluru', 'benoni', 'bensalem', 'bensenville', 'benton harbor', 'benton harbor/st joseph', 'beograd', 'berea', 'berkeley', 'berkeley heights', 'berkely', 'berkhamstead', 'berlin', 'berlin/malaysia', 'bermondsey', 'berrien county', 'berrien springs', 'berwyn', 'bethany', 'bethel', 'bethesda', 'beverly hills', 'bhubaneswar', 'billerica', 'billericay', 'binghampton', 'birmingham', 'birmingham / solihull', 'birmingham or london', 'birstall', 'bishops stortford', 'bishopsgate', 'bismarck', 'bismarck or fargo', 'blackpool', 'blacksburg', 'bletchley', 'bloomfield', 'bloomfield hills', 'bloomington', 'bloomsburg', 'bluffton', 'boca raton', 'bodelwyddan', 'bogota', 'boisbriand', 'boise', 'bonita springs', 'bonn', 'boone', 'bostan', 'boston', 'boulder', 'bourne', 'bournemouth', 'bowie', 'bowling green', 'boxborough', 'bozeman', 'br', 'bracknell', 'bradford', 'braintree', 'brampton', 'braselton', 'bratislava', 'brea', 'bremerton', 'brentwood', 'bridgeport', 'bridgewater', 'bridgman', 'brighouse', 'brighton', 'brisbane', 'bristol', 'broken bow', 'bronx', 'brookfield', 'brookhaven', 'brookings', 'brooklyn', 'brookyn', 'broomfield', 'brownsville', 'brunswick', 'brussels', 'bruxelles', 'bryan', 'buchanan', 'bucharest', 'bucharrest', 'buckeye', 'buckhannon', 'bucuresti', 'budapest', 'buffalo', 'buffalo grove', 'burbank', 'burleson', 'burlingame', 'burlington', 'burnaby', 'burnley', 'burnsville', 'bury st edmunds', 'busan', 'bushey', 'cabanatuan city', 'cairo', 'calgary', 'califonia', 'california', 'camas', 'camberley', 'cambridge', 'camden', 'campbell', 'canary wharf', 'canberra', 'cannonsburg', 'canonsburg', 'cantebury', 'canterbury', 'canton', 'cape coral', 'cape girardo', 'cape town', 'capitol heights', 'carbondale', 'cardiff', 'carlisle', 'carlsb', 'carlsbad', 'carlton', 'carmel', 'carol stream', 'carrizo springs', 'carrollton', 'carson city', 'carton city', 'cary', 'casper', 'cassopolis', 'cassopolis dowagiac', 'cateret', 'caulfield', 'cav', 'cavite', 'cavite or alabang area', 'cayuga', 'ce', 'cebu', 'cebu city', 'cedar city', 'cedar falls', 'cedar rapids', 'cedarburg', 'celina', 'centennial', 'center city philadelphia', 'central', 'central birmingham', 'central coast', 'central fl', 'central lodon', 'central london', 'central nj preferred', 'central/southern minnesota', 'cerritos', 'chalandri', 'chalkida', 'chamberi | madrid', 'champaign', 'champaigne', 'chandigarh', 'chandler', 'chandler/mesa/gilbert', 'chanhassen', 'chania', 'chapel hill', 'charleston', 'charlotee', 'charlotte', 'charlottesville', 'chatham', 'chatsworth', 'chattanooga', 'chautauqua', 'cheadle', 'cheddar', 'chelmorton', 'chelmsford', 'chelsea', 'cheltenham', 'cheney', 'chengdu', 'chennai', 'cherkassy', 'cherkasy', 'cherry hill', 'chesapeake', 'chester', 'chester/north wales', 'chesterfield', 'chestnut hill', 'cheyenne', 'chicago', 'chicago northwest', 'chichester', 'chickasha', 'chico', 'chippenham', 'christchurch', 'chula vista', 'churu', 'cicero', 'cimahi', 'cinci', 'cincin', 'cincinnati', 'city', 'city of industry', 'claremont', 'clarion', 'clarksville', 'clayton', 'clear lake', 'clearwater', 'cleburne', 'clemmons', 'clemson', 'clevedon', 'cleveland', 'clinton', 'cluj-napoca', 'co. durham', 'coal valley', 'cochin', 'cocoa', 'coggeshall', 'coimbatore', 'coimbra', 'col', 'colchester', 'cold springs', 'college', 'college park', 'college point', 'college station', 'collegedale', 'colombo', 'colorado springs', 'columbia', 'columbus', 'commack', 'como', 'concord', 'conover', 'consett', 'conway', 'coon rapids', 'cooperstown', 'copenhagen', 'copenhagen ø', 'copenhagn', 'coral springs', 'coralville', 'corfe castle', 'corinth', 'cork', 'cornwall', 'corona', 'corpus christi', 'corpus christi coastal bend', 'corsicana', 'cortez', 'cortland', 'corvallis', 'costa mesa', 'cottage grove', 'coumbus', 'council bluffs', 'coventry', 'covert', 'covington', 'cr0 4xy', 'cranberry', 'crawley', 'crete', 'crewe', 'crigglestone', 'crofton', 'croydon', 'crystal city', 'cullowhee', 'cupertino', 'cyberport', 'd.f.', 'dallas', 'dallas / ft. worth', 'dallas-fort worth', 'dallas/ fort worth', 'dallas/fort worth', 'dana point', 'danbury', 'danver', 'danvers', 'danville', 'danville area', 'darlinghurst', 'davao city', 'davenport', 'davidson', 'davidson/lake norman area', 'dayton', 'daytona', 'dc', 'dc metro', 'dearborn', 'decatur', 'deerfield', 'deerfield beach', 'delavan', 'delaware', 'delhi', 'delray beach', 'delta mall store', 'deltona', 'denton', 'denver', 'denver (metro)', 'des moines', 'des plaines', 'desert resort', 'detriot', 'detroi', 'detroit', 'deweyville', 'dewsbury', 'dfw', 'dfw- burleson', 'dhaka', 'dharamshala', 'dhule', 'diamond bar', 'dickinson', 'district of columbia', 'doha', 'domlur', 'doncaster', 'doral', 'dortmund', 'dothan', 'dover', 'dowagiac', 'downers grove', 'downey', 'downtown', 'draper', 'dubai', 'dubai internet city', 'dubayy', 'dubin', 'dublin', 'dublin 2', 'dubuque', 'dulles', 'duluth', 'dundee', 'durango', 'durban', 'durham', 'düsseldorf', 'eagan', 'earby', 'easley', 'east cowes', 'east hanover', 'east lansing', 'east london', 'east nashville', 'east peoria', 'east stroudsburg', 'east windsor', 'eastbourne', 'eastern us', 'eau claire', 'ebene', 'ec4m 7an', 'edina', 'edinboro', 'edinburg', 'edinburgh', 'edinburgh central', 'edinburgh south and south east', 'edison', 'edmond', 'edmondton', 'edmonton', 'egaleo', 'egnar', 'eindhoven', 'el paso', 'el reno', 'el segundo', 'elland', 'ellensburg', 'ellenville', 'elmhurst', 'elmira', 'elmsford', 'elmwood park', 'elon', 'elroy', 'emeryville', 'emporia', 'encino', 'englewood', 'erbil', 'erlanger', 'esbon', 'escondido', 'essex', 'estero', 'estonia', 'etobicoke', 'ettrick', 'eugene', 'eunice', 'evanston', 'evansville', 'everett', 'exton', 'fair haven', 'fairfax', 'fairfax area', 'fairfield', 'fairlawn', 'fairmont', 'falkirk', 'falling waters', 'fargo', 'fargo or bismarck', 'faribault', 'farmingdale', 'farmington', 'farmington hills', 'farringdon', 'fayetteville', 'federal way', 'feltham', 'fife', 'finchley', 'finger lakes', 'fishers', 'flagstaff', 'flint', 'florence', 'florida', 'flushing', 'folsom', 'fontana', 'fort', 'fort collins', 'fort collins/denver', 'fort lauderdale', 'fort mill', 'fort myers', 'fort saskatchewan', 'fort washington', 'fort wayne', 'fort worth', 'foster city', 'four ways', 'france', 'frankfurt', 'franklin', 'franklin lakes', 'franksville', 'frederick', 'fredericksburg', 'fredericton', 'fredonia', 'freehold', 'fremont', 'fresno', 'frisco', 'frostburg', 'ft lauderdale', 'ft. benning', 'ft. lauderdale', 'ft. worth', 'fthiotida - lamia', 'fulham', 'fullerton', 'g', 'gaffney', 'gainesville', 'gaithersburg', 'galesburg', 'garden city', 'garden grove', 'gardena', 'garland', 'garner', 'gateshead', 'gatwick', 'gdańsk', 'gent', 'georgetown', 'georgia', 'gerakas', 'germantown', 'germany', 'ghent', 'gilbert', 'gilroy hollister', 'gladstone', 'glasgow', 'glasgow / birmingham / london / remote', 'glasgow or edinburgh', 'glendale', 'glendale heights', 'gloucester', 'glyfada', 'gold coast', 'golden valley', 'grand blanc', 'grand forks', 'grand island', 'grand junction', 'grand prairie', 'grand rapids', 'grandview', 'grange moore', 'granger', 'grants', 'grapevine', 'grapvevine', 'great falls', 'greater boston', 'greater boston area', 'greater los angeles area', 'greater milwaukee', 'greater new york city area', 'greater toronto area', 'green bay', 'green river', 'greenbelt', 'greencastle', 'greensboro', 'greenville', 'greenwich', 'greenwood', 'grey-bruce/huron perth', 'grimsby', 'grinnell', 'groveland', 'groveport', 'gta', 'guangzhou', 'guildford', 'gulf coast region', 'gurgaon', 'gurgoan', 'gurnee', 'h', 'hackensack', 'haddonfield', 'hagerstown', 'halandri', 'halifax', 'hamburg', 'hamilton', 'hammersmith', 'hammond', 'hammonton', 'hampton', 'hampton in arden', 'hanford', 'hanley', 'hanover', 'harahan', 'harlan', 'harlan or ames', 'harlingen', 'harlow', 'harrisburg', 'harrisonburg', 'harrogate', 'hartford', 'hartland', 'hartlepool', 'harwich', 'hasbrouck heights', 'hastings', 'hatfield', 'hathersage', 'hattiesburg', 'haverford', 'haverhill', 'hawthorne', 'hayward', 'hazelcrest', 'headland', 'heathrow', 'heckmondwike', 'heidelberg', 'helena', 'helsinki', 'hemel hempstead', 'henderson', 'heraklio', 'heraklion', 'herculaneum', 'hermiston gait', 'herndon', 'hertfordshire', 'hertzelia', 'herzliya', 'hessle', 'hg2 7nr', 'hidalgo', 'high wycombe', 'highland', 'highland heights', 'highland park', 'hilliard', 'hilliard fl', 'hillsboro', 'hillside', 'hilversum', 'hinckley', 'ho chi minh', 'hobart', 'hoboken', 'holargos', 'holborn', 'holly springs', 'hollywood', 'hondo', 'hong kong', 'honolulu', 'hopkins', 'horsforth', 'horsham', 'hot springs', 'houghton le spring', 'houston', 'howell', 'hoxton', 'huber heights', 'huddersfield', 'huddersfield/wakefield', 'hudson valley', 'hull', 'hunt valley', 'huntingdon', 'huntington', 'huntington beach', 'hurricane', 'hyderabad', 'hyderabad/pune/remote', 'iasi', 'idaho falls', 'ilford', 'ilion', 'illinois', 'immingham', 'incheon', 'independence', 'indiana', 'indianapolis', 'indore', 'ingatestone', 'inglewood', 'insch', 'ioannina', 'iowa city', 'ipswich', 'irakleio', 'iraklio', 'irvine', 'irving', 'isla vista', 'islamabad', 'istanbul', 'italy', 'ithaca', 'i̇stanbul', 'jackson', 'jacksonville', 'jaipur', 'jakarta', 'jamestown', 'jamison', 'jane lew', 'janesville', 'jeddah', 'jefferson city', 'jenkintown', 'jericho', 'jersey', 'jersey city', 'jerusalem', 'johannesburg', 'johns creek', 'joliet', 'jonesboro', 'juman', 'juneau', 'juno beach', 'juárez', 'kakanad', 'kalamazoo', 'kalivia thorikou', 'kamloops', 'kanata', 'kankakee', 'kansas city', 'karachi', 'kaunas', 'keene', 'keller and burleson', 'kelowna', 'kenner', 'kennewick', 'kennington', 'kenosha', 'kent', 'kern county', 'kessariani', 'kettering', 'kharkov', 'kiev', 'kifisia', 'kifissia', 'killdeer', 'killeen', 'king', 'kingston', 'kingston upon thames', 'kingswinford', 'kinnelon', 'kirkland', 'kirksville', 'kitchener', 'kl - petaling jaya', 'klamath falls', 'knoxville', 'knutsford', 'kochi', 'kokomo', 'kolkata', 'komotini', 'krakow', 'kraków', 'kreuzberg', 'kuala lumpur', 'kuala lumpur - sentral', 'kutztown', 'københavn ø', 'la', 'la jolla', 'la mirada', 'la/orange county', 'lacrosse', 'lafayette', 'lagos', 'lahore', 'lake charles', 'lake city', 'lake elsinor', 'lake forest', 'lake mary', 'lake oswego', 'lakeland', 'lakeport', 'lakeville', 'lakewood', 'lancaster', 'langley', 'langley moor', 'langston', 'lanham', 'lansdale', 'lansing', 'laramie', 'laredo', 'larisa', 'las cruces', 'las vegas', 'lasalle', 'lassi', 'latham', 'launceston', 'laurel', 'laval', 'lawrence', 'lawrenceville', 'lawton', 'lawton decatur', 'le10 3en', 'lebanon', 'lebbeke-wieze', "lee's summit", 'leeds', 'leesburg', 'leicester', 'leighton buzzard', 'leipzig', 'leiston', 'lekki', 'lenexa', 'leonardtown', 'leuven', 'levadia', 'levittown', 'lewisburg', 'lewisham', 'lewiston', 'lexington', 'leyton', 'liberty', 'libertyville', 'lille', 'lima', 'limassol', 'lincoln', 'linthicum heights', 'lisbon', 'little rock', 'liverpool', 'liversedge', 'livingston', 'livonia', 'lleida', 'lo', 'loas angeles', 'lock haven', 'logan', 'lombard', 'lommel', 'lon', 'london', 'london bridge', 'london/sarnia/chatham', 'london/sarnia/chatham/windsor/kitchener', 'london/warrington', 'long beach', 'long isalnd city', 'long island', 'long island city', 'longmont', 'longview', 'los   angeles', 'los angeles', 'los angeles county', 'los angeles/orange county/san diego county', 'los gatos', 'louisville', 'loveland', 'lower mainland', 'ls12 4qq', 'lubbock', 'ludwigshafen', 'lumlukka', 'lund', 'luton', 'luxembourg', 'lynwood', 'ma', 'maad', 'maadi', 'macclesfield', 'macomb', 'macon', 'madison', 'madrid', 'magoula', 'maidenhead', 'maitland', 'makati', 'makati city', 'makawao', 'malaga', 'malden', 'malton', 'malvern', 'managua', 'manassas', 'manchester', 'manchester city center', 'mandaluyong city', 'mandaue city', 'manhasset', 'manhasset hills', 'manhattan', 'manhattan and brooklyn', 'manhattan beach', 'manila', 'mankato', 'mansfield', 'maple grove', 'maple plain', 'marcellus lawton', 'marcellus paw paw lawton', 'marco island', 'marin', 'marina del rey', 'marinette', 'marion', 'markham', 'markhan', 'marlborough', 'marlow', 'marousi', 'marousi - athens', 'maroussi', 'marshall', 'martigny', 'martin', 'maryland / d.c. area', 'maryland heights', 'marysville', 'mascoutah', 'mason', 'mason city', 'massachusetts', 'masterton', 'mayfield', 'mayfield village', 'mcallen', 'mckinney', 'mclean', 'mclean va.', 'meanwood', 'meas/chandler/gilbert', 'mechanicsburg', 'mechelen', 'medan', 'medford', 'media city | dubai', 'meigle', 'melbourne', 'melissia', 'melrose park', 'melton mowbray', 'memphis', 'menlo', 'menlo park', 'menomonie', 'mentor', 'mercer island', 'meridian', 'merriam', 'merrillville', 'merseyside', 'mesa', 'mesa/chandler', 'mesquite', 'metamorfosi', 'mexico', 'mexico city', 'miami', 'middle town', 'middlebury', 'middlesex', 'middletown', 'midland', 'midlands', 'midwest', 'milan', 'milan area', 'milano', 'milford township', 'millburn', 'millburn / short hills', 'millersville', 'milpitas', 'milton keynes', 'milwaukee', 'milwaukee/waukesha', 'milwaukie', 'minden', 'minneapolis', 'minnetonka', 'minsk', 'miramar', 'mirfield', 'mississauga', 'missoula', 'missouri city', 'mobile', 'modesto', 'moncton', 'monett', 'monroe', 'montclair', 'montebello', 'monterey', 'monterrey', 'montevallo', 'montgomery', 'montpellier', 'montreal', 'montrose', 'montréal', 'montville', 'monument', 'moorehead', 'mooresville', 'moorhead', 'moravia', 'moreno valley', 'morgantown', 'morristown', 'moscow', 'moskva', 'moundsview', 'mount clemens', 'mount laurel', 'mount pleasant', 'mount pleasent', 'mount vernon', 'mountain home', 'mountain view', 'mt. pleasant', 'mt. pocono', 'multiple', 'mumbai', 'mumbai/navi mumbai', 'mumford', 'muncie', 'mundelein', 'munich', 'munich / italy / spain', 'murabba riyadh', 'murfreesboro', 'murray', 'mykonos', 'myrtle beach', 'méxico', 'münchen', 'n', 'n. irakleio', 'nacogdoches', 'nagpur', 'nai', 'nantwich', 'napanoch', 'naperville', 'naples', 'nashville', 'nasrcity', 'natchitoches', 'ne portland', 'nea filadelfia', 'nea ionia', 'needham', 'neenah', 'nelson/marlborough', 'neo irakleio', 'neo iraklio', 'new', 'new  york', 'new  york city', 'new adington', 'new braunfels', 'new britain', 'new brunswick', 'new castle', 'new delhi', 'new england', 'new haven', 'new heaven', 'new hudson', 'new jersey', 'new orleans', 'new paltz', 'new york', 'new york & garden city', 'new york city', 'new york city metro area', 'new york metro', 'new york or san francisco', 'new york/boston', 'new yorl', 'newark', 'newbury park', 'newcastle', 'newcastle upon tyne', 'newnan', 'newport beach', 'newport coast', 'newport news', 'newry', 'newyork', 'newyork city', 'niagara falls', 'nicosia', 'niles', 'niles buchanan', 'niles dowagiac cassopolis marcellus', 'niles/dowagiac/cassopolis', 'noida', 'norcross', 'norfolk', 'norman', 'north andover', 'north atlanta', 'north canton', 'north dallas', 'north east', 'north hollywood', 'north las vegas', 'north portland', 'north richland hills', 'north salt lake', 'north shore', 'north sydney', 'north west', 'north west london', 'north york', 'northampton', 'northbrook', 'northeast', 'northenden', 'northern virginia area', 'northern wv', 'northfield', 'northgate cyberzone', 'northumberland', 'norwalk', 'norwell/boston', 'norwich', 'notre dame', 'notting hill', 'nottingham', 'novi sad', 'nr stansted', 'nr. west drayton', 'nucla', 'nuneaton', 'nw houston', 'nw portland & hillsboro', 'nw suburbs chicago', 'nw1 7qp', 'ny', 'nyc', 'nyc & garden city', 'oak brook', 'oak park', 'oakland', 'oakvile', 'oberlin', 'odessa', 'ogden', 'okeechobee', 'oklahoma city', 'old street', 'old trafford', 'oldham', 'olympia', 'omaha', 'oneonta', 'ontario', 'orange', 'orange county', 'oregon city', 'orland park', 'orlando', 'orlando area', 'orlanod', 'orono', 'oronoco', 'oroville', 'oshkosh', 'oslo', 'ossett', 'oswego', 'otisville', 'ottawa', 'oudtshoorn', 'oulu', 'out of ca', 'overland park', 'oxford', 'oxnard', 'paducah', 'paiania', 'painted post', 'palaio faliro', 'palm harbor', 'palm springs', 'palmdale', 'palo altio', 'palo alto', 'panama', 'panama city', 'panchkula', 'panhandle', 'paris', 'park ridge', 'parma', 'parsippany', 'pasadena', 'pascagoula', 'pasig', 'pasig city', 'paterson', 'patra', 'patras', 'paw paw', 'paw paw/lawrence', 'peachtree corners', 'pearl harbor', 'peekskill', 'pembroke', 'pendergrass', 'penrith', 'pensacola', 'penteli', 'peoria', 'peristeri', 'perth', 'perth and kinross', 'perthshire', 'pese', 'peshawer', 'petaling jaya', 'petaluma', 'peterborough', 'peterlee', 'petroupoli', 'phenix city', 'pheonix', 'philadelphia', 'philippi', 'philippies', 'phnom phen', 'phoenix', 'phoenix metro', 'phoneix', 'picacho', 'piccadilly', 'pietermaritzburg', 'piraeus', 'pireaus', 'piscataway', 'pittsburgh', 'pittsburgh area', 'pittsfield', 'pittsville', 'plainfield', 'plainview', 'plano', 'plantation', 'plattsburgh', 'pleasanton', 'pleasonton', 'plymouth', 'pocatello', 'point blank', 'point lookout', 'poland', 'pomona', 'pompano', 'pompano beach', 'pontefract', 'poole', 'porland', 'port charlotte', 'port chester', 'port coquitlam', 'port elizabeth', 'port st. lucie', 'portand', 'portland', 'portland/hillsboro', 'porto', 'portsmouth', 'potsdam', 'potters bar', 'poughke

In [124]:
#df['salary_range'].unique()


#df['min_salary']
#df['max_salary']
df['min_salary']=df.salary_range.str.split('-',expand=True)[:][0]
df['max_salary']=df.salary_range.str.split('-',expand=True)[:][1]

array([nan, '20000-28000', '100000-120000', '120000-150000',
       '50000-65000', '40000-50000', '60-80', '65000-70000', '75-115',
       '75000-110000', '17000-20000', '16000-28000', '95000-115000',
       '15000-18000', '50000-70000', '45000-60000', '30000-40000',
       '70000-90000', '10000-14000', '50-110', '28000-45000', '0-34300',
       '35000-40000', '9-Dec', '44000-57000', '18500-28000',
       '55000-75000', '30000-35000', '0-0', '20000-40000',
       '360000-600000', '50000-80000', '80000-100000', '52000-78000',
       '15750-15750', '40000-65000', '45000-50000', '30000-37000',
       '45000-67000', '35000-100000', '180000-216000', '45000-65000',
       '28000-32000', '0-1000', '36000-40000', '80000-110000',
       '35000-73000', '19000-19000', '60000-120000', '120000-15000000',
       '42000-55000', '90000-120000', '100000-150000', '28000-38000',
       '1600-1700', '50000-60000', '30000-70000', '32000-40000', '50-100',
       '9000-17000', '23040-28800', '105-110', '13000-16000',
       '100000-180000', '45000-55000', '9000-12000', '50000-90000',
       '25000-42000', '40000-60000', '600000-750000', '120000-170000',
       '45000-90000', '25000-30000', '65000-75000', '18000-19000',
       '100000-130000', '18000-20000', '22000-30000', '5000-6000',
       '36000-52000', '11000-11000', '110000-150000', '50000-150000',
       '100000-600000', '80000-120000', '10800-10800', '50000-72000',
       '35000-150000', '60000-100000', '70000-125000', '37000-37000',
       '0-130000', '75000-120000', '20000-20000', '45000-85000',
       '25000-35000', '120000-165000', '23000-32000', '18000-21000',
       '100000-300000', '65000-80000', '55000-60000', '40000-85000',
       '30000-60000', '40000-70000', '75000-85000', '320000-350000',
       '110000-140000', '20000-35000', '20000-26000', '70000-120000',
       '85000-125000', '9600-18000', '28000-40000', '90-120', '4001-6000',
       '18000-30000', '95000-125000', '30000-45000', '60000-75000',
       '30000-1000000', '40000-55000', '55000-65000', '35000-45000',
       '20000-30000', '90000-100000', '180000-240000', '75-100',
       '1161-1161', '36000-48000', '30000-50000', '60000-80000', '35-45',
       '15000-20000', '21000-25000', '16000-18500', '16000-24000',
       '110000-130000', '40000-45000', '28000-35000', '80000-105000',
       '36000-63000', '60000-90000', '124000-375000', '50-53',
       '90000-110000', '50000-55000', '33000-36000', '35000-65000',
       '26000-30000', '40000-80000', '9600-57600', '75000-125000',
       '24000-26000', '36000-50000', '85-140', '7000-9000', '75000-80000',
       '0-90000', '4500-4500', '25000-50000', '70-100', '70000-85000',
       '2500-3500', '130000-160000', '15000-30000', '65000-85000',
       '21120-30000', '48000-57600', '20000-50000', '84000-102000',
       '500000-650000', '24000-32000', '28000-42000', '80000-90000',
       '13-20', '1000-2000', '35000-120000', '1000-20000', '18000-22000',
       '50000-120000', '20000-25000', '75000-150000', '0-30000',
       '15000-17000', '14000-18000', '55386-66731', '115000-125000',
       '70000-80000', '21-63000', '16500-17500', '18000-25000',
       '14000-16000', '35000-50000', '3-Apr', '10000-15000',
       '15500-50000', '120000-240000', '60000-70000', '20000-38000',
       '23000-28000', '52000-57000', '4-Apr', '44624-53764',
       '12000-12000', '15600-15600', '1600-1600', '25000-36000',
       '8000-10000', '20000-23000', '100-200', '0-50000', '1100-1200',
       '100000-110000', '45000-45000', '96000-100000', '40000-40000',
       '33000-34000', '18000-44000', '16000-20000', '1050-1100',
       '50000-100000', '21000-21000', '9600-10500', '400000-650000',
       'Oct-15', '800000-2000000', '335000-400000', '1000-1000',
       '19000-24000', '45000-70000', '960000-1200000', '55-65',
       '23000-96000', '110000-120000', '50-70', '480000-600000',
       '1000-5000', '80000-175000', '35000-35000', '75000-100000',
       '24900-31200', '42000-48000', '27000-28000', '18000-23000',
       '10716-16074', '0-9360000', '0-268', '20000-22000', '37400-37400',
       '49000-58000', '80000-80000', '25000-40000', '15000-16000',
       '25000-75000', '100000-200000', '39000-100000', '140000-150000',
       '80000-119000', '80000-200000', '30000-38000', '20-3075',
       '40000-120000', '25000-27000', '25000-100000', '120000-160000',
       '16500-18500', '20000-60000', '36000-42000', '17000-19000',
       '40000-140000', '800000000-1200000000', '35000-55000', '0-45000',
       '40000-100000', '45-75', '42000-62000', '23000-26000',
       '70000-300000', '77000-97000', '16000-18000', '80000-130000',
       '18-22', '30000-37500', '50-60', '32500-37500', '140000-160000',
       '19800-20800', '13000-14000', '80000-85000', '0-1',
       '200000-600000', '12500-15000', '300000-330000', '39000-42000',
       '23000-24000', '70000-150000', '18720-21840', '29000-33000',
       '20000-24000', '130000-150000', '400000-600000', '17000-22000',
       '67000-70000', '12000-24000', '19000-36000', '540000-720000',
       '80000-84000', '180000-600000', '14560-17680', '450-500',
       '9600-14400', '32000-34000', '20-25', '1000-6000', '22000-25000',
       '30160-30160', '22000-26000', '110000-125000', '66000-84000',
       '30000-450000', '14000-17000', '18000-24000', '41000-45000',
       '12000-17000', '16000-19200', '60-70', '35000-60000', '13-15',
       '30000-30000', '80000-140000', '55000-70000', '8-Sep',
       '65000-120000', '0-25000', '0-15000', '36000-65000', '17000-32000',
       '0-24000', '0-1200000', '55000-100000', '200000-500000',
       '10000-16000', '14000-40000', '200-230', '3000-100000',
       '12000-45000', '721000-780000', '0-92000', '70-90', '22000-22000',
       '135-165', '2000-5000', '39000-41000', '30-50', '30000-36000',
       '90000-125000', '100000-240000', '2500-5000', '110-140',
       '2000-6000', '17000-21000', '95000-150000', '90000-130000',
       '70-120', '32000-36000', '55000-80000', '1000-3000',
       '350000-500000', '3000000-4000000', '25000-28000', '70000-130000',
       '100000-160000', '3000-6000', '30000-100000', '130000-145000',
       '20000-100000', '41600-62400', '6266624-8582080', '2000-2000',
       '20000-500000', '95000-110000', '19000-26000', '120000-130000',
       '140000-200000', '42000-80000', '34000-50000', '40000-75000',
       '22000-60000', '24000-28000', '0-100000', '800000-1200000',
       '60-150', '15000-75000', '10000-30000', '15000-25000', '0-2000',
       '33000-53000', '28000-28000', '50000-75000', '5000-10000', '40000',
       '17000-24000', '20000-36000', '29120-37440', '30000-48000',
       '35-100', '45000-96000', '1000-1500', '12500-14000', '40000-41000',
       '34000-35000', '7200-1380000', '26000-29000', '180000-200000',
       '0-20000', '20800-22880', '22000-28000', '14000-14000',
       '2000-40000', '23000-25000', '28000-30000', '12000-17500',
       '34000-38000', '32-35', '750-750', '35-40', '600000-800000',
       '20800-22800', '27-30', '250000-500000', '27000-32000', '85-95',
       '50000-85000', '500000-800000', '110-120', '20-22', '27500-36000',
       '300000-325000', '80-100', '60-75', '15-25', '240000-500000',
       '4000-5000', '0-65000', '17000-30000', '0-43500', '25-1000',
       '21600-31200', '23000-30000', '45-48', '36000-200000',
       '26000-52000', '900-900', '85000-95000', '160000-180000',
       '50000-300000', '80000-95000', '2800-3500', '100-150', '100-120',
       '26000-32000', '25000-45000', '32000-52000', '130000-180000',
       '2000-4000', '70000-110000', '45000-75000', '20000-27000',
       '2000000-15000000', '65000-72000', '6000000-7000000',
       '18000-18000', '55000-85000', '120000-120000', '60000-65000',
       '200000-250000', '37500-42500', '70000-100000', '29000-32000',
       '45-65', '0-35000', '0-150000', '14000-22400', '150000-160000',
       '200-250', '0-95000', '15000-200000', '65000-115000', '50-90',
       '18500-25000', '75000-90000', '92000-141000', '35-60',
       '1000-26000', '76800-96000', '46000-55000', '32000-45000',
       '27000-34000', '85000-110000', '12000-19000', '30000-34000',
       '196000-230000', '42000-58000', '150000-16500000', '60000-73000',
       '240000-240000', '17-20', '32000-46000', '100000-250000',
       '24000-27600', '25000-25000', '8000-13000', '22000-24000',
       '85000-120000', '40-50', '35000-95000', '35000-75000',
       '318278-400000', '120000-140000', '600000-1200000',
       '100000-117000', '45000-95000', '55-105', '33000-100000',
       '14400-24000', '24-25', '125-175', '250000-300000', '175-225',
       '14000-15000', '1000-10000', '120-160', '10000-100000', '25-28',
       '65000-100000', '48000-60000', '600000-1000000', '33280-37440',
       '5000-7000', '107000-115000', '80000-89000', '0-16000', '14-15',
       '45000-80000', '18720-19760', '35000-36000', '190000-220000',
       '35000-70000', '37000-40000', '1500000-2500000', '65000-110000',
       '700000-1200000', '23000-27000', '72000-144000', '5500-5500',
       '10000-20000', '420000-540000', '99000-99999', '0-180000',
       '0-120000', '25000-31000', '55000-68000', '4-Jun',
       '1300000-1800000', '40000-54000', '10000-120000', '100000-125000',
       '42000-54000', '220000-225000', '45000-58000', '0-110406',
       '3000-7000', '17-19', '24000-29000', '26000-31000',
       '250000-550000', '12000-15000', '168000-216000', '40-80',
       '125000-135000', '40000-46000', '10000-10000', '200000-300000',
       '90-110', '850-1000', '33000-63000', '9000-10000', '40-100',
       '900000-1200000', '26000-28000', '17000-35000', '17500-17500',
       '50000-50000', '150000-200000', '90-100', '10-Oct', 'Oct-20',
       '13000-15000', '24000-36000', '100000-115000', '105000-125000',
       '65000-90000', '10000-22000', 'Jun-18', '1000-1100', '3000-60000',
       '120000-135000', '38000-45000', '18500-27000', '30-40',
       '71000-72000', '30000-65000', '90000-150000', '200000-240000',
       '900-1000', '70000-160000', '32000-37440', '80-110', '29000-40000',
       '42000-46000', '1000000-1400000', '11-Nov', '1150-1150',
       '55000-90000', '10-Nov', '956-956', '40000-47000', '42000-42000',
       '90000-95000', '120000-125000', '125000-150000', '21000-35000',
       '14000-25000', '240000-300000', '300000-420000', '11-Dec',
       '14000-30000', '150-175', '2-Apr', '90000-140000', '25000-32000',
       '42000-60000', '15000-19000', '0-48000', '175000-250000',
       '60000-96000', '22000-40000', '150000-250000', '80000-150000',
       '25000-65000', '60000-72000', '550000-720000', '9240-13200',
       '41600-52000', '120000-180000', '50000-58000', '55000-79000',
       '10000-18000', '30000-80000', '300000-400000', '750000-1200000',
       '41000-50000', '36000-54000', '200000-700000', '10000-12000',
       '24000-30000', '100000-170000', '40000-90000', '1200-3000',
       '300000-600000', '77000-87000', '78000-80000', '0-60000',
       '115000-130000', '500000000-800000000', '85000-90000', '2500-2500',
       '44000-102000', '28000-34000', '70000-105000', '46000-62000',
       '2000000-2263000', '6000-20000', '15500-17500', '0-32000',
       '96000-240000', '15400-19600', '2000-2500', '45000-63000',
       '31181-37566', '16000-16000', '80000-250000', '32000-50000',
       '85000-100000', '45000-120000', '27000-34280', '16000-19000',
       '90000-115000', '1300-1500', '600000-840000', '19500-24000',
       '26400-36000', '43000-69000', '8000-14000', '60-65', '24000-35000',
       '65-75', '70-150', '60-90', '1200-1400', '60-85', '2-Jun',
       '38000-52000', '65-100', '528000-636000', '90-140000', '115-120',
       '45-70', '962-962', '2500-2800', '30000-31000', '80-120',
       '78000-115000', '30000-32000', '70000-126000', '11000-25000',
       '72000-108000', '48000-55000', '35000-48000', '1000000-1500000',
       '50-65', '38000-65000', '400000-500000', '60000-150000',
       '41600-50000', '104000-120000', '63000-63000', '37000-41600',
       '52000-100000', '120000-300000', '130000-170000', '91000-150000',
       '60000-95000', '7500-8000', '36000-60000', '12500-12500',
       '65000-77000', '33000-39000', '300000-500000', '1920-2000',
       '192000-288000', '32000-42000', '32000-37000', '45000-72000',
       '96000-120000', '70000-95000', '0-70000', '1000-1400', '7-12000',
       '10000-25000', '115000-160000', '60000-160000', '1000-4000',
       '30000-49000', '18000-26000', '30000-42000', '0-115',
       '14436-28000', '30000-40700', '34000-44000', '12000-18000',
       '110000-135000', '40-60', '16000-25000', '25-35', '38000-75000',
       '8000-20000', '16000-22000', '6000-15000', '24960-27040',
       '30000-39000', '55000-755000', '85000-105000', '48000-58000',
       '100000-400000', '96000-144000', '144000-192000', '45-85',
       '19200-33600', '60000-85000', '120000-264000', '27000-30000',
       '18720-18720', '13000-18000', '38000-48000', '1600-19000',
       '60000-130000', '120000-168000', '75000-95000', '3000-4000',
       '0-38000', '0-12500', '175000-275000', '32000-35000',
       '34000-45000', '21000-36000', '35000-42000', '200000-280000',
       '22-28', '30000-33000', '240000-600000', '65000-125000',
       '95000-105000', '300000-450000', '90-150', '30-35', '40-55',
       '45000-175000', '143520-197600', '85000-150000', '145600-187200',
       '166400-260000', '55-125', '33000-37000', '45-80', '200000-400000',
       '93600-122720', '65000-140000', '400000-450000', '8000-9000',
       '208000-270400', '360000-400000', '83200-114400', '93600-114400',
       '156000-187200', '70000-200000', '15-17', '20000-21000', '55-72',
       '50-95', '45-67', '55-67', '35000-38000', '48-60', '27000-29000',
       '45-55', '20800-20800', '240000-480000', '6000-10000', '1050-1050',
       '14000-36000', '14500-19000', '20000-260000', '55000-69000',
       '360000-500000', '50000-95000', '16-20', '140-160', '15500-16500',
       '10000-250000', '2000-3000', '4500-5000', '26000-50000', '25-30',
       'Dec-25', '1517-1517', '1234-12345', '34000-42000', '15-19',
       '21-31', '48000-65000', '53000-67000', '22-61000', '3700-3800'],
      dtype=object)

In [113]:
df.min_salary.fillna(value='unknown', inplace=True)
df.min_salary.replace(np.nan, 'unknown', inplace=True)
df.min_salary.replace('', 'unknown', inplace=True)
df.min_salary.replace(' ', 'unknown', inplace=True)
df['min_salary'].sort_values().unique()

array(['0', '10', '100', '1000', '10000', '100000', '1000000', '104000',
       '105', '1050', '105000', '107000', '10716', '10800', '11', '110',
       '1100', '11000', '110000', '115', '1150', '115000', '1161', '120',
       '1200', '12000', '120000', '1234', '124000', '125', '12500',
       '125000', '13', '1300', '13000', '130000', '1300000', '135', '14',
       '140', '14000', '140000', '143520', '14400', '144000', '14436',
       '14500', '14560', '145600', '15', '150', '15000', '150000',
       '1500000', '1517', '15400', '15500', '15600', '156000', '15750',
       '16', '1600', '16000', '160000', '16500', '166400', '168000', '17',
       '17000', '175', '17500', '175000', '18', '18000', '180000',
       '18500', '18720', '19000', '190000', '1920', '19200', '192000',
       '19500', '196000', '19800', '2', '20', '200', '2000', '20000',
       '200000', '2000000', '20800', '208000', '21', '21000', '21120',
       '21600', '22', '22000', '220000', '23000', '23040', '24', '24000',
       '240000', '24900', '24960', '25', '2500', '25000', '250000',
       '26000', '26400', '27', '27000', '27500', '2800', '28000', '29000',
       '29120', '3', '30', '3000', '30000', '300000', '3000000', '30160',
       '31181', '318278', '32', '32000', '320000', '32500', '33000',
       '33280', '335000', '34000', '35', '35000', '350000', '36000',
       '360000', '3700', '37000', '37400', '37500', '38000', '39000', '4',
       '40', '4000', '40000', '400000', '4001', '41000', '41600', '42000',
       '420000', '43000', '44000', '44624', '45', '450', '4500', '45000',
       '46000', '48', '48000', '480000', '49000', '50', '5000', '50000',
       '500000', '500000000', '52000', '528000', '53000', '540000', '55',
       '5500', '55000', '550000', '55386', '60', '6000', '60000',
       '600000', '6000000', '6266624', '63000', '65', '65000', '66000',
       '67000', '7', '70', '7000', '70000', '700000', '71000', '7200',
       '72000', '721000', '75', '750', '7500', '75000', '750000', '76800',
       '77000', '78000', '8', '80', '8000', '80000', '800000',
       '800000000', '83200', '84000', '85', '850', '85000', '9', '90',
       '900', '9000', '90000', '900000', '91000', '92000', '9240',
       '93600', '95000', '956', '9600', '96000', '960000', '962', '99000',
       'Dec', 'Jun', 'Oct', 'unknown'], dtype=object)

In [114]:
df.max_salary.fillna(value='unknown', inplace=True)
df.max_salary.replace(np.nan, 'unknown', inplace=True)
df.max_salary.replace('', 'unknown', inplace=True)
df.max_salary.replace(' ', 'unknown', inplace=True)
df['max_salary'].sort_values().unique()


# 1. use new column [median_salary]
# 2. use min & max

array(['0', '1', '100', '1000', '10000', '100000', '1000000', '102000',
       '105', '1050', '10500', '105000', '10800', '108000', '110', '1100',
       '11000', '110000', '110406', '114400', '115', '1150', '115000',
       '1161', '117000', '119000', '120', '1200', '12000', '120000',
       '1200000', '1200000000', '122720', '12345', '125', '12500',
       '125000', '126000', '13000', '130000', '13200', '135000',
       '1380000', '140', '1400', '14000', '140000', '1400000', '141000',
       '14400', '144000', '145000', '15', '150', '1500', '15000',
       '150000', '1500000', '15000000', '1517', '15600', '15750', '160',
       '1600', '16000', '160000', '16074', '165', '16500', '165000',
       '16500000', '168000', '17', '1700', '17000', '170000', '175',
       '17500', '175000', '17680', '18', '18000', '180000', '1800000',
       '18500', '18720', '187200', '19', '19000', '19200', '192000',
       '19600', '19760', '197600', '20', '200', '2000', '20000', '200000',
       '2000000', '20800', '21000', '216000', '21840', '22', '22000',
       '220000', '22400', '225', '225000', '2263000', '22800', '22880',
       '230', '23000', '230000', '24000', '240000', '25', '250', '2500',
       '25000', '250000', '2500000', '26000', '260000', '264000', '268',
       '27000', '27040', '270400', '275000', '27600', '28', '2800',
       '28000', '280000', '28800', '288000', '29000', '30', '3000',
       '30000', '300000', '30160', '3075', '31', '31000', '31200',
       '32000', '325000', '33000', '330000', '33600', '34000', '34280',
       '34300', '35', '3500', '35000', '350000', '36000', '37000',
       '37400', '37440', '37500', '375000', '37566', '3800', '38000',
       '39000', '40', '4000', '40000', '400000', '4000000', '40700',
       '41000', '41600', '42000', '420000', '42500', '43500', '44000',
       '45', '4500', '45000', '450000', '46000', '47000', '48', '48000',
       '480000', '49000', '50', '500', '5000', '50000', '500000', '52000',
       '53', '53000', '53764', '54000', '540000', '55', '5500', '55000',
       '550000', '57000', '57600', '58000', '60', '6000', '60000',
       '600000', '61000', '62000', '62400', '63000', '636000', '65',
       '65000', '650000', '66731', '67', '67000', '68000', '69000', '70',
       '7000', '70000', '700000', '7000000', '72', '72000', '720000',
       '73000', '75', '750', '75000', '750000', '755000', '77000',
       '78000', '780000', '79000', '80', '8000', '80000', '800000',
       '800000000', '84000', '840000', '85', '85000', '8582080', '87000',
       '89000', '90', '900', '9000', '90000', '92000', '9360000', '95',
       '95000', '956', '96000', '962', '97000', '99999', 'Apr', 'Dec',
       'Jun', 'Nov', 'Oct', 'Sep', 'unknown'], dtype=object)

In [ ]:
def preprocess_text(text):
    # Tokenise words while ignoring punctuation
    tokeniser = RegexpTokenizer(r'(?u)\b\w\w+\b')
    tokens = tokeniser.tokenize(text)
    
    # Lowercase and lemmatise 
    lemmatiser = WordNetLemmatizer()
    lemmas = [lemmatiser.lemmatize(token.lower(), pos='v') for token in tokens]
    
    # Remove stopwords
    keywords= [lemma for lemma in lemmas if lemma not in stopwords.words('english')]
    return keywords

In [ ]:
def vectorise_column(df, column):
    # Fill empty columns with "Unspecified"
    df[column] = df[column].fillna("Unspecified")
    
    # Create an instance of TfidfVectorizer
    vectoriser = TfidfVectorizer(analyzer=preprocess_text, ngram_range = (1,2))

    # Fit to the data and transform to feature matrix
    text_column = vectoriser.fit_transform(df[column])

    # Convert sparse matrix to dataframe
    text_column = pd.DataFrame.sparse.from_spmatrix(text_column)

    # Save mapping on which index refers to which words
    col_map = {v:k for k, v in vectoriser.vocabulary_.items()}

    # Rename each column using the mapping
    for col in text_column.columns:
        text_column.rename(columns={col: col_map[col]}, inplace=True)
    
    # Combined to dataframe
    combined = [df, text_column]
    df = pd.concat(combined, axis =1)
    
    return df

In [ ]:
# Create new table for text which can be merged to main table later
df_text = df.loc[:, ['company_profile', 'description', 'requirements', 'benefits']]
df_text['text'] = df_text.apply(lambda row: (str(row['company_profile']) + ' ' + str(row['description'])  
                                            + ' ' + str(row['requirements']) + ' ' + str(row['benefits'])), axis = 1)
to_merge = vectorise_column(df_text, 'text')

# Only the following columns need to be merged
# to_merge.iloc[:,4:]